cycler==0.10.0
Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Login==0.2.7
Flask-Markdown==0.3
flask-mongoengine==0.7.0
Flask-WTF==0.9.3
functools32==3.2.3.post2
itsdangerous==0.23
Jinja2==2.7.1
lxml==3.6.4
Markdown==2.3.1
MarkupSafe==0.18
matplotlib==2.0.2
mlbgame==2.2.1
mongoengine==0.8.6
numpy==1.13.0
py-bcrypt==0.4
pymongo==2.6.3
pyparsing==2.2.0
PySide==1.2.4
python-dateutil==2.6.0
pytz==2017.2
requests==2.10.0
six==1.10.0
subprocess32==3.2.7
virtualenv==13.1.2
virtualfish==1.0.0
Werkzeug==0.9.4
WTForms==1.0.5
ystockquote==0.2.4
